# Copy to /etc/systemd/system

Description=Custom Textbelt server

After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
WorkingDirectory=/home/ryan/ryan-textbelt/
ExecStart=/usr/local/bin/node .
Restart=on-failure
RestartSec=20s

[Install]
WantedBy=multi-user.target